<h3>{{student.Name}}</h3>
<div class="row">
  <div class="col-md-12">
    <div><b>Student Id: </b> {{student.StudentId}}</div>
    <div><b>Gender: </b> {{student.Gender == 1 ? 'Male' : 'Female'}}</div>
    <div><b>Grade: </b> {{student.Grade}}</div>
    <div><b>Date of Birth: </b> {{student.DateOfBirth | date}}</div>
    <div><b>Email: </b> {{student.Email}}</div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" [routerLink]="['/edit-student', student.Id]">Edit</a>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
    <a class="btn btn-default" [routerLink]="['/students']">Return to List</a>
  </div>
</div>