<h3>Students</h3>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let student of students; let i = index">
        <a [routerLink]="['/students', student.Id]">
          <app-student-information [student]="student"></app-student-information>
        </a>
        <button class="btn btn-sm btn-danger" (click)="delete(student, i)">X</button>
      </li>
    </ul>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary" [routerLink]="['/add-student']">Add Student</button>
  </div>
</div>